@import 'src/assets/fonts/stylesheet';
@import 'shortClasses';

//u {
//  text-decoration: none !important;
//  border-bottom: 2px red dotted;
//}

.misspelledWord {
    text-decoration: none !important;
    border-bottom: 2px red dotted !important;
}

.container {
    position: relative;
}
